html, body{
	height:100%;
    background: linear-gradient(to bottom right, #8cc2e2, #b3848a);
	color: rgba(233, 233, 233, 1);
	font-family: "Roboto";
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-font-smoothing: antialiased;
}

	@font-face: {
		font-family: 'FontAwesome';
		src: url('fontawesome-webfont.eot');
	}
.container{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

	section>h1{
		text-align: center;
		font-family: "Roboto";
		font-weight: 500;
		font-size:calc(8vw + 8vh + 2vmin);
		margin-bottom: 20px;
		color:#ffffff;
	}

	section>p{
		font-weight: 300;
		font-size:calc(0.5vw + 0.5vh + 2vmin);
		line-height: 1.3em;
		max-width:45%;
		text-align: center;
		position: relative;
		margin:40px auto;
		color:#f1f1f1;
	}

	p span{
		color: #fff;
		font-style: italic;
	}

	#buttons{
		width: 700px;
	}

	#buttons> ul{
		max-width: 1000px;
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	
	#buttons ul li{
		/*font-size: calc(1.8vw + 1.8vh + 2vmin);*/
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 20px 60px;
		cursor:pointer;
	}

		ul li .fa-suitcase {
			font-size: calc(1.6vw + 1.2vh + 2vmin);	
			/*padding: 35px 30px;
			-webkit-border-radius: 150px;
			border: 2px solid white; */
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
			}


		ul li .fa-file{
			font-size: calc(0.8vw + 1.4vh + 2vmin);
			/*padding: 35px;
			-webkit-border-radius: 150px;
			border: 2px solid white; */
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
		}	

		ul li .fa-codepen{
			font-size: calc(1.3vw + 1.1vh + 2vmin);
			/*padding: 35px;
			-webkit-border-radius: 150px;
			border: 2px solid white; */
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
			}

		ul li .fa-github{
			font-size: calc(1.8vw + 1.6vh + 2vmin);
			/*padding: 35px 40px;
			-webkit-border-radius: 150px;
			border: 2px solid white; */
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
			}	

	
	#buttons a{
		text-decoration:none;
		color: #eaeaea;
		text-align: center;
	}


	#buttons ul>li a:hover{
		color: #8B696D;
		background-color: transparent;	
	}
